
.container{
    margin-bottom: 100px;
}

.bg{
    background-color: #feeae9;
    border-radius: 10px;
}
.carousel-item{
    padding:20px 40px;
}
.price{
    color: #FF136f;
}
.button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color:#fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.catagories h1{
     color: white;
}
.catagories img{
    width: 100px;
}
.cat-1, .cat-2, .cat-3{
    padding: 10px 30px;
    border-radius: 10px;
    
    
}
.cat-1{
    background-image: linear-gradient(45deg, orange, gold);
    
}
.cat-2{
    background-image: linear-gradient(45deg,#b9245d, red);
}
.cat-3{
    background-image: linear-gradient(45deg, rgb(120, 59, 219), blue);
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 20px;
}
.card-footer{
    background-color: white;
    border-top: none;
}
#subscribe{
    height: 300px;
}
#subscribe h6{
    color: gray;
}
footer{
    text-align: center;
}